@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ Layout = "_Layout"; }
<br>
<br>
<br>
<style>


    .newimg{
        max-width: 100%;
        height: auto;
    }

    .text-center {
        text-align: center;
    }
</style>

<div>
    <img class="newimg" src="~/referral1.jpg" />
</div>
<br />
<br />
<h3 style="text-align:center">
    It just takes 30 seconds to refer a friend.
    <br />
    Use our mobile number to unlock the referral code and share it with your friends.
</h3>
<br />
<br />
<div>
    <img class="newimg" src="~/IMG_20210927_103811.jpg" />
</div>
<br />
<br />
<h3 style="text-align:center">
    Send a referral code: Get Exciting vouchers<br />
    Earn these vouchers when your friend purchases from the store.
</h3>